*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --font-color: #3A3A3A;
    --button-color: #E02C6D;
}
body{
    background-color: #fff;
}

/* Header section*/
header{
    display: flex;
    justify-content: space-between;
    padding: 50px 120px;

}
header .logo{
    color: var(--font-color);
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

menu ul{
    display: flex;
}

menu ul li{
    list-style: none;
}

menu ul li a{
    margin: 7px;
    padding: 10px;
    font-weight: 550;
    color: var(--font-color);
    text-decoration: none;
    transition: .5s ease;
}

menu>ul>li>a:hover{
    color: #E02C6D;
}


/* preebok now section */

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.leftside{
    width: 50%;
}

.content h1{
    font-weight: bold;
    font-size: 52px;
    color: var(--font-color);
}

.content p{
    margin: 16px 0;
    font-weight: 550;
}
.content a{
    background-color: var(--button-color);
    color: white;
    border-radius: 41px;
    padding: 8px 25px;
    font-size: 16px;
    font-weight: 550;
    margin-top: 16px;
    display: inline-block;
}
.rightside img{
    height: 414;
    width: 440;
}

.companys{
    width: 75%;
    margin: 100px 10px;
    margin: 0 auto;
    margin-top: 69px;
    margin-bottom: 69px;
}

.company-img{
    display: flex;
    justify-content: space-around;
    padding: 36px 60px;
    flex-wrap: wrap;
    
}

hr.line{
    border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}


/* popular collection section */

.popular-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-collection .title{
    margin: 30px 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;

}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 0 auto;
}


.card{
    padding: 10px;
    background-color: #fff;
    width: 320px;
    box-shadow: 0px 0px 20px 1px rgb(170, 170, 170);
    border-radius: 5px;
}
.card img{
    width: 300px;
    height: 255px;
    border-radius: 5px;
}

.card h2{
    color: #18191F;
    font-size: 28px;
    line-height: 40px;
    margin: 10px 0;
}

.card .fas{
    color: orange;
}

.card .rating{
    margin-left: 10px;
}

.star-rating{
    display: flex;
    align-items: center;
}

.card p{
    color: #787885;
    font-weight: bold;
    margin-bottom: 10px;
}

.card .price{
    font-size: 24px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
}
.see-more{
    background-color: var(--button-color);
    padding: 5px 15px;
    color: white;
    margin: 30px 0;
    text-decoration: none;

}

/* google map section */


.location{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location h2{
    color: #18191F;
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
    margin: 30px 0;
}

.map{
    margin: 0 auto;
}

/* footer section */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0A0826;
    color: #fff;
    padding: 20px;
    margin-top: 30px;
}

footer h2{
    margin: 10px;
}

footer .social-icons{
    margin: 10px 0;
}

footer .social-icons .fab{
    padding: 10px;
    background-color: #787885;
    border-radius: 50%;
    margin: 0 5px;
    
}


/* media queries */


@media (min-width:668px) and (max-width:992px) {
    header menu{
    display: none;
}
    .content h1{
        font-size: 16px;
    }
    .rightside img{
        width: 350px;
    }
    .cards{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    }

    .companys .company-img img{
        width: 50px;
    }
}

@media (min-width:480px) and (max-width:668px) {

    section{
        width: 100%;
    }
    .leftside{
    width: 100%;
}
.rightside img{
    width: 300px;
}

     header menu{
    display: none;
}
    .content{
    flex-direction: column;
    text-align: center;
    }
    .content h1{
        font-size: 28px;
    }

    .content .leftside{
        order: 2;
    }
    .content .rightside{
        order: 1;
    }

    .cards{
    grid-template-columns: repeat(1, 1fr);
    }
  
}

@media (min-width:0px) and (max-width:480px){
    section{
        width: 100%;
    }
    .leftside{
    width: 100%;
}
.rightside img{
    width: 300px;
}

     header menu{
    display: none;
}
    .content{
    flex-direction: column;
    text-align: center;
    }
    .content h1{
        font-size: 28px;
    }
    .companys{
        width: 100%;
    }

    .content .leftside{
        order: 2;
    }
    .content .rightside{
        order: 1;
    }

    .cards{
    grid-template-columns: repeat(1, 1fr);
    }
    .popular-collection h2{
        font-size: 16px;
    }
}





