*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --font-color: #3A3A3A;
    --button-color: #E02C6D;
}
body{
    background-color: #fff;
}

/* Header section*/
header{
    display: flex;
    justify-content: space-between;
    padding: 50px 120px;

}
header .logo{
    color: var(--font-color);
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

menu ul{
    display: flex;
}

menu ul li{
    list-style: none;
}

menu ul li a{
    margin: 7px;
    padding: 10px;
    font-weight: 550;
    color: var(--font-color);
    text-decoration: none;
    transition: .5s ease;
}

menu>ul>li>a:hover{
    color: #E02C6D;
}


/* preebok now section */

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.leftside{
    width: 50%;
}

.content h1{
    font-weight: bold;
    font-size: 52px;
    color: var(--font-color);
}

.content p{
    margin: 16px 0;
    font-weight: 550;
}
.content a{
    background-color: var(--button-color);
    color: white;
    border-radius: 41px;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 550;
    margin-top: 16px;
}
.rightside img{
    height: 414;
    width: 440;
}